.larger-text {
	font-size: 30px;
}

.checkboxes {
	margin-top: 20px;
}

#messageContainer {
	margin-top: 100px;
}

.darktheme {
	background-color: black;
}

.darkBody {
	background-color: #343233;
}

.chkbox {
  display: inline-block;
}

.outputBody {
  list-style: none;
  margin: 0;
  padding: 0;
}

#weezer {
	background-color: #009BD3;
}

.dark-info {
    color: white;
    background-color: #982A14;
    border-color: #bce8f1;
}