.larger-text {
	font-size: 30px;
}

.checkboxes {
	margin-top: 20px;
}

#messageContainer {
	margin-top: 100px;
}

.darktheme {
	background-color: black;
}

.chkbox {
  display: inline-block; 
}

.outputBody {
  list-style: none;
  margin: 0;
  padding: 0;
}

